/* HEADER */
.logo-icon {
  fill: #fff;
}
.header {
  padding: 3rem;

  display: flex;
  justify-content: space-between;
}
.main-nav {
  display: flex;
}
.main-nav-list {
  list-style: none;
  font-size: 1.4rem;

  display: flex;
  gap: 4rem;
  align-self: center;
}
.main-nav-link {
  transition: all 0.4s;
  padding: 1rem;
}
.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  color: #fff;
}
.main-nav-link:hover,
.main-nav-link:active {
  cursor: pointer;
  color: #e64980;
  /* border-bottom: solid 0.1rem #e64980; */
}

/* SECTION HERO */
.section-hero {
  height: 100vh;
}
.hero {
  padding: 10rem;
}

/* SECTION ABOUT */
.about-img {
  max-width: 100%;
  border-radius: 1.1rem;
}
.about-text-box {
  padding: 3rem;
}
.about-description {
  font-size: 1.8rem;
  line-height: 2;
}

/* SECTION PRICING */
.pricing-box {
  padding: 4rem;
  background-color: #ad637d;
  border-radius: 1.1rem;
  box-shadow: 0 0.3rem 0.4rem #000000;
}
.pricing-plan-pro {
  position: relative;
  overflow: hidden;
}
.pricing-plan-pro::after {
  content: "Best offer";

  font-size: 1.2rem;
  font-weight: 800;
  text-transform: uppercase;
  color: #000000;

  position: absolute;
  top: 6%;
  right: -14%;
  background-color: #fcc419;
  padding: 1.2rem 5rem;
  transform: rotate(45deg);
  transform: translate();
}
.pricing-title {
  display: block;
  font-size: 2.4rem;
  font-weight: 800;
  margin-bottom: 3rem;
}
.pricing-option {
  font-size: 1.4rem;
}
.pricing-list {
  list-style: none;
  margin-top: 4rem;
  font-size: 1.6rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.price-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pricing-icon {
  fill: #69db7c;
}
